.contacts {
  display: flex;
  justify-content: center;
}

.contacts--container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.contacts--container>h1 {
  font-family: var(--primaryFont);
  font-size: 2.5rem;
  text-align: center;

}


@media (min-width: 992px) and (max-width: 1380px) {
  .contacts--container {
    padding: 2rem 4rem;
    width: 90%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .contacts--container {
    width: 100%;
    margin-top: 1rem;
  }

  .contacts--container>h1 {
    font-size: 3rem;
    margin: 0 0 1.2rem 0;
  }
}

@media screen and (max-width: 800px) {
  .contacts--container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .contacts--container {
    padding: 2rem;
    margin-top: 0rem;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contacts--container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}
