:root {
  --primaryFont: "Poppins", sans-serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */
}

/* .facebook-icon {
    background-color:
} */
/* 
.twitter-icon:hover {
  color: #1d9bf0 !important;
}

.linkedin-icon:hover {
  color: #0a66c2 !important;
}

.youtube-icon:hover {
  color: #ff0000 !important;
} */
